.left {
    float: left;
    width: 60%;
}

.right {
    float: right;
}

.freedomOf {
    width: 35vw;
}

.education {
    width: 15vw;
    margin-top: 60%;
}

.health {
    width: 15vw;
}

.housing {
    width: 15vw;
    margin-top: 40%;
}

.integrity {
    width: 15vw;
    margin-top: 60%;
}

.protectionFrom {
    width: 27vw;
}

.discrimination {
    width: 22vw;
}

.opressionOf {
    width: 29vw;
    margin-top: 70%;
}

.conflicts {
    width: 22vw;
}

.lifeSafety {
    width: 11vw;
}
