.housing {
    width: 18vw;
}

.health {
    width: 18vw;
}

.education {
    width: 18vw;
}

.integrity {
    width: 18vw;
}

.freedomOf {
    width: 38vw;
}

.protectionFrom {
    width: 30vw;
}

.lifeSafety {
    width: 14vw;
}

.discrimination {
    width: 25vw;
}

.opressionOf {
    width: 32vw;
}

.conflicts {
    width: 25vw;
}