.leftCont {
    float: left;
    width: 60%;
}

.rightCont {
    float: right;
}

.center {
    text-align: center;
}

.freedomOf {
    width: 35vw;
}

.education {
    width: 15vw;
    margin-top: 60%;
}

.health {
    width: 15vw;
}

.housing {
    width: 15vw;
    margin-top: 40%;
}

.integrity {
    width: 15vw;
    margin-top: 60%;
}

.protectionFrom {
    width: 27vw;
}

.discrimination {
    width: 22vw;
}

.opressionOf {
    width: 29vw;
    margin-top: 70%;
}

.conflicts {
    width: 22vw;
}

.lifeSafety {
    width: 11vw;
}

.arrow-down {
    width: 0;
    height: 0;
    margin-left: 44%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    
    margin-top: -2%;
}

#arrow1 {
    border-top: 50px solid #DADADA;
}

#arrow2 {
    border-top: 50px solid #EDEDED;
}

