/*----------#NAVBAR--------------------------*/
 
 .nav-fixed {
     @extend .smalltext;
     position: fixed;
     a {
         &:hover {
             color: $white;
         }
     }
 }
 
 .bg-green {
     background: $green;
     width: 70px;
     height: 100vh;
     opacity: 0.9;
 }
 
 .bg-yellow {
     background: $yellow;
 }
 
 .numberCircle {
     border-radius: 50%;
     width: 36px;
     height: 36px;
     margin: 60px auto 60px auto;
     @include breakpoint ($min: xl) {
         width: 43px;
         height: 43px;
     }
     padding: 8px;
     border: 2px solid $black;
     &:hover {
        border: 2px solid $white;
           
     }
 }
