/*----------#NAVBAR--------------------------*/

.nav-fixed {
    @extend .smalltext;
    position: fixed;
    height: 100vh;
    width: 70px;
    /*overflow-y: scroll;*/
    a {
        &:hover {
            color: $white;
        }
    }
    @include breakpoint ($min: sm) {
        height: 10vh;
        width: 100vw;
    }
    @include breakpoint ($min: xs) {
        height: 10vh;
        width: 100vw;
    }
    
    ul{
    
    @include breakpoint ($min: xs) {
       margin-left: -7vw;
    }
    
    }
    
}

.bg-green {
    background: $green;
}

.bg-yellow {
    background: $yellow;
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: 60px auto 60px auto;
    padding: 8px;
    @include breakpoint ($min: xl) {
        width: 43px;
        height: 43px;
    }
    border: 2px solid $black;
    &:hover {
        border: 2px solid $white;
    }
    @include breakpoint ($min: sm) {
        display: inline-table;
        margin: 20px 20px auto 20px;
         padding: 7px;
    }
    @include breakpoint ($min: xs) {
        display: inline-table;
        border-radius: 50%;
        width: 7vw;
        height: 3vh;
        padding: 1vw;
        margin: 2vh auto auto 3vw;
    }
}